{{#if resume.awards.length}}
<section id="awards">
	<h2>Awards</h2>
	{{#each resume.awards}}
	<div class="item">
		{{#if title}}
		<div class="title">
			{{title}}
		</div>
		{{/if}}
		{{#if date}}
		<div class="date">
			{{date}}
		</div>
		{{/if}}
		{{#if awarder}}
		<div class="awarder">
			{{awarder}}
		</div>
		{{/if}}
		{{#if summary}}
		<div class="summary">
			<p>{{summary}}</p>
		</div>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}