{{#if resume.references.length}}
<section id="references">
	<h2>References</h2>
	{{#each resume.references}}
	<div class="item">
		{{#if reference}}
		<blockquote class="reference">
			{{reference}}
		</blockquote>
		{{/if}}
		{{#if name}}
		<div class="name">
			— {{name}}
		</div>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}