<!doctype html>
<html>
	<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
	
	<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>

	<style type="text/css">
	{{css}}
	</style>
	
	</head>
	<body>
	
	<div id="resume">

	{{#resume.basics}}
	<h1>{{name}}</h1>
	<section id="basics">
		{{#email}}
		<div class="email">
			<span class="label">Email:</span>
			{{.}}
		</div>
		{{/email}}
		{{#phone}}
		<div class="phone">
			<span class="label">Phone:</span>
			{{.}}
		</div>
		{{/phone}}
		{{#website}}
		<div class="website">
			<span class="label">Website:</span>
			{{.}}
		</div>
		{{/website}}
		{{#summary}}
		<div class="summary">
			<p>{{.}}</p>
		</div>
		{{/summary}}
		{{#location}}
		<h3>Location</h3>
		<section id="location">
			{{#address}}
			<div class="address">
				<span class="label">Address:</span>
				{{.}}
			</div>
			{{/address}}
			{{#postalCode}}
			<div class="postalCode">
				<span class="label">Postal code:</span>
				{{.}}
			</div>
			{{/postalCode}}
			{{#city}}
			<div class="city">
				<span class="label">City:</span>
				{{.}}
			</div>
			{{/city}}
			{{#countryCode}}
			<div class="countryCode">
				<span class="label">Country code:</span>
				{{.}}
			</div>
			{{/countryCode}}
			{{#region}}
			<div class="region">
				<span class="label">Region</span>
				{{.}}
			</div>
			{{/region}}
		</section>
		{{/location}}
		{{#if profiles.length}}
		<h3>Profiles</h3>
		<section id="profiles">
			{{#profiles}}
			<div class="item">
				{{#network}}
				<strong class="network">
					{{.}}
				</strong>
				{{/network}}
				{{#username}}
				<div class="username">
					{{.}}
				</div>
				{{/username}}
				{{#url}}
				<div class="url">
					<a href="{{.}}">{{.}}</a>
				</div>
				{{/url}}
			</div>
			{{/profiles}}
		</section>
		{{/if}}
	</section>
	{{/resume.basics}}

	{{#if resume.work.length}}
	<h2>Work</h2>
	<section id="work">
		{{#each resume.work}}
		<div class="item">
			{{#company}}
			<h3 class="name">
				{{.}}
			</h3>
			{{/company}}
			<div class="date">
				{{#startDate}}
				<span class="startDate">
					{{.}}
				</span>
				{{/startDate}}
				{{#endDate}}
				<span class="endDate">
					{{.}}
				</span>
				{{/endDate}}
			</div>
			{{#position}}
			<div class="position">
				{{.}}
			</div>
			{{/position}}
			{{#website}}
			<div class="website">
				<a href="{{.}}">{{.}}</a>
			</div>
			{{/website}}
			{{#summary}}
			<div class="summary">
				<p>{{.}}</p>
			</div>
			{{/summary}}
			{{#if highlights.length}}
			<ul class="highlights">
				{{#highlights}}
				<li>{{.}}</li>
				{{/highlights}}
			</ul>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}
	
	{{#if resume.education.length}}
	<h2>Education</h2>
	<section id="education">
		{{#each resume.education}}
		<div class="item">
			<div class="date">
				{{#startDate}}
				<span class="startDate">
					{{.}}
				</span>
				{{/startDate}}
				{{#endDate}}
				<span class="endDate">
					- {{.}}
				</span>
				{{else}}
				<span class="endDate">
					- Present
				</span>
				{{/endDate}}
			</div>
			{{#institution}}
			<div class="institution">
				{{.}}
			</div>
			{{/institution}}
			{{#area}}
			<div class="area">
				{{.}}
			</div>
			{{/area}}
			{{#studyType}}
			<div class="studyType">
				{{.}}
			</div>
			{{/studyType}}
			{{#if courses.length}}
			<ul class="courses">
				{{#courses}}
				<li>{{.}}</li>
				{{/courses}}
			</ul>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}
	
	{{#if resume.awards.length}}
	<h2>Awards</h2>
	<section id="awards">
		{{#each resume.awards}}
		<div class="item">
			{{#title}}
			<div class="title">
				{{.}}
			</div>
			{{/title}}
			{{#date}}
			<div class="date">
				{{.}}
			</div>
			{{/date}}
			{{#awarder}}
			<div class="awarder">
				{{.}}
			</div>
			{{/awarder}}
		</div>
		{{/each}}
	</section>
	{{/if}}
	
	{{#if resume.publications.length}}
	<h2>Publications</h2>
	<section id="publications">
		{{#each resume.publications}}
		<div class="item">
			{{#name}}
			<div class="name">
				{{.}}
			</div>
			{{/name}}
			{{#publisher}}
			<div class="publisher">
				{{.}}
			</div>
			{{/publisher}}
			{{#releaseDate}}
			<div class="releaseDate">
				{{.}}
			</div>
			{{/releaseDate}}
			{{#website}}
			<div class="website">
				<a href="{{.}}">Link</a>
			</div>
			{{/website}}
		</div>
		{{/each}}
	</section>
	{{/if}}
	
	{{#if resume.skills.length}}
	<h2>Skills</h2>
	<section id="skills">
		{{#each resume.skills}}
		<div class="item">
			{{#name}}
			<div class="name">
				{{.}}
			</div>
			{{/name}}
			{{#level}}
			<div class="level">
				{{.}}
			</div>
			{{/level}}
			{{#if keywords.length}}
			<ul class="keywords">
				{{#keywords}}
				<li>{{.}}</li>
				{{/keywords}}
			</ul>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}
	
	{{#if resume.references.length}}
	<h2>References</h2>
	<section id="references">
		{{#each resume.references}}
		<div class="item">
			{{#reference}}
			<blockquote class="reference">
				{{.}}
			</blockquote>
			{{/reference}}
			{{#name}}
			<div class="name">
				— {{.}}
			</div>
			{{/name}}
		</div>
		{{/each}}
	</section>
	{{/if}}
	
	</div>
	
	</body>
</html>
